:host {
    display: block;
    margin: 0px;
    padding: 0px
}

.panels-container {
    width: 100%;
}

.details-panel {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 50%;
}

.mat-h3, h3 {
    font: 600 16px/28px Roboto, "Helvetica Neue", sans-serif;
}